@model IEnumerable<PulseGamingMVC.Models.Editor>

@{
    ViewData["Title"] = "Editores";
}

<h1>Editores</h1>

<p>
    <a asp-action="Dashboard" asp-controller="Admin" class="btn btn-dark">
        <i class="bi bi-arrow-90deg-left"></i>
    </a>
    <a asp-action="CreateEditor" class="btn btn-dark">Nuevo Editor</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IDEditor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreEditor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IDEditor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreEditor)
            </td>
            <td>
                @Html.ActionLink("Edit", "ModificarEditor", new { idEditor = item.IDEditor }, new { @class = "btn btn-dark" }) |
                @Html.ActionLink("Delete", "DeleteEditor", new { idEditor = item.IDEditor }, new { @class = "btn btn-dark" })
            </td>
        </tr>
}
    </tbody>
</table>
