@model IEnumerable<PulseGamingMVC.Models.Genero>

@{
    ViewData["Title"] = "Generos";
}

<h1>Generos</h1>

<p>
    <a asp-action="Dashboard" asp-controller="Admin" class="btn btn-dark">
        <i class="bi bi-arrow-90deg-left"></i>
    </a>
    <a asp-action="CreateGenero" class="btn btn-dark">Nuevo Genero</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdGenero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreGenero)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdGenero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreGenero)
            </td>
            <td>
                @Html.ActionLink("Edit", "ModificarGenero", new { idGenero = item.IdGenero }, new { @class = "btn btn-dark" }) |
                @Html.ActionLink("Delete", "DeleteGenero", new { idGenero = item.IdGenero }, new { @class = "btn btn-dark" })
            </td>
        </tr>
}
    </tbody>
</table>
