@model IEnumerable<PulseGamingMVC.Models.Juego>

@{
    ViewData["Title"] = "JuegosGeneros";
}

<h1>JuegosGeneros</h1>

<p>
    <a asp-action="Dashboard" asp-controller="Admin" class="btn btn-dark">
        <i class="bi bi-arrow-90deg-left"></i>
    </a>
    <a asp-action="CreateJuego" class="btn btn-dark">Nuevo Juego</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdJuego)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreJuego)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IDGenero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagenJuego)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioJuego)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdJuego)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreJuego)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IDGenero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImagenJuego)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioJuego)
            </td>
            <td>
                @Html.ActionLink("Edit", "ModificarJuego", new { idJuego = item.IdJuego }, new { @class = "btn btn-dark" }) |
                @Html.ActionLink("Delete", "DeleteJuego", new { idJuego = item.IdJuego }, new { @class = "btn btn-dark" })
            </td>
        </tr>
}
    </tbody>
</table>
