@model PulseGamingMVC.Models.Juego

@{
    ViewData["Title"] = "ModificarJuego";
    var generos = ViewData["GENEROS"] as List<Genero>;
    var editores = ViewData["EDITORES"] as List<Editor>;
}

<h1>ModificarJuego</h1>

<p>
    <a asp-action="JuegosView" class="btn btn-dark"><i class="bi bi-arrow-90deg-left"></i></a>
</p>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="ModificarJuego">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdJuego" class="control-label"></label>
                <input asp-for="IdJuego" value="@Model.IdJuego" type="hidden" class="form-control" />
                <span asp-validation-for="IdJuego" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreJuego" class="control-label"></label>
                <input asp-for="NombreJuego" value="@Model.NombreJuego" class="form-control" />
                <span asp-validation-for="NombreJuego" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdGenero" class="control-label"></label>
                <select name="IdGenero" class="form-control">
                    @foreach (var genero in generos)
                    {
                        <option value="@genero.IdGenero">
                            @genero.NombreGenero
                        </option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="ImagenJuego" class="control-label"></label>
                <input asp-for="ImagenJuego" value="@Model.ImagenJuego" class="form-control" />
                <span asp-validation-for="ImagenJuego" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecioJuego" class="control-label"></label>
                <input asp-for="PrecioJuego" value="@Model.PrecioJuego" class="form-control" />
                <span asp-validation-for="PrecioJuego" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" value="@Model.Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdEditor" class="control-label"></label>
                <select name="IdEditor" class="form-control">
                    @foreach (var editor in editores)
                    {
                        <option value="@editor.IDEditor">
                            @editor.NombreEditor
                        </option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
