@model List<Carrito>

<table class="table" id="carrito">
    <thead>
        <tr>
            <th>Nombre del Juego</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Subtotal</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.NombreJuego</td>
                <td>@item.PrecioJuego €</td>
                <td>
                    <button onclick="decrementarCantidad(@item.IdJuego)" class="botonesCustom">-</button>
                    <span>@item.Cantidad</span>
                    <button onclick="incrementarCantidad(@item.IdJuego)" class="botonesCustom">+</button>
                </td>
                <td>@(item.PrecioJuego * item.Cantidad) €</td>
                <td>
                    <button onclick="eliminarJuego(@item.IdJuego)" class="btn btn-danger"><i class="bi bi-trash"></i></button>
                </td>
            </tr>
        }
    </tbody>
</table>