@model List<Juego>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-5">
    @foreach (Juego game in Model)
    {
        <div class="col">
            <div class="card shadow-sm">
                <img src="~/images/@game.ImagenJuego">
                <div class="card-body">
                    <h5 class="card-title">@game.NombreJuego</h5>
                    <p class="card-text">@game.PrecioJuego €</p>
                    <div class="d-flex justify-content-between align-items-center">
                        @Html.ActionLink("Comprar", "Details", "Juegos", new { IdJuego = game.IdJuego }, new { @class = "btn btn-dark" })
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@{
    var pageNumber = ViewBag.PageNumber;
    var pageSize = ViewBag.PageSize;
    var totalItems = ViewBag.TotalItems;
    var totalPages = (int)Math.Ceiling((double)totalItems / pageSize);
}

@if (totalPages > 1)
{
    <nav>
        <ul class="pagination">
            @if (pageNumber > 1)
            {
                <li class="page-item">
                    <a class="page-link" href="?pageNumber=@(pageNumber - 1)&pageSize=@pageSize">Previous</a>
                </li>
            }

            @for (var i = 1; i <= totalPages; i++)
            {
                <li class="page-item @(i == pageNumber ? "active" : "")">
                    <a class="page-link" href="?pageNumber=@i&pageSize=@pageSize">@i</a>
                </li>
            }

            @if (pageNumber < totalPages)
            {
                <li class="page-item">
                    <a class="page-link" href="?pageNumber=@(pageNumber + 1)&pageSize=@pageSize">Next</a>
                </li>
            }
        </ul>
    </nav>
}

