@model List<Juego>

@{
    var user = Context.Session.GetString("USUARIO");
    string urlImages = configuration.GetValue<string>("AzureKeys:StorageImages");
}

<h2>Carrito de Compras</h2>

@if (Model == null)
    {
        <h2 class="text-danger" style="text-align: center;">No hay productos en tu carrito</h2>
    }
    else
    {
        <div style="display: flex; align-items: center; justify-content: space-between;margin: 1px 20px 1px 20px;">
            <h3 class="text-success mt-5">Productos en carrito: @Model.Count()</h3>
            <h3 class="text-info mt-5">Precio total: @Model.Sum(c => c.PrecioJuego)€</h3>
        </div>

        <table class="table table-bordered text-center">
            <thead>
                <tr>
                    <th>Imagen</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Juego juego in Model)
                {
                    <tr>
                        <td><img src="@urlImages/@juego.ImagenJuego" style="width:200px; height:200px" /></td>
                        <td>@juego.NombreJuego</td>
                        <td>@juego.PrecioJuego €</td>
                        <td>
                            <a asp-controller="Juegos" asp-action="EliminarJuegoCesta"
                               asp-route-idJuego="@juego.IdJuego" class="btn btn-danger">
                                <span class="material-symbols-outlined">Eliminar</span>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <a asp-controller="Juegos" asp-action="RealizarCompra"
           class="btn btn-success mt-5 mb-5">
            Realizar compra
        </a>
    }
