@model List<Juego>

@{
    var user = Context.Session.GetString("USUARIO");
}

<h2>Carrito de Compras</h2>

@if (Model == null)
    {
        <h2 class="text-danger" style="text-align: center;">No hay productos en tu carrito</h2>
    }
    else
    {
        <div style="display: flex; align-items: center; justify-content: space-between;margin: 1px 20px 1px 20px;">
            <h3 class="text-primary mt-3">Productos en carrito: @Model.Count()</h3>
            <h3 class="text-success mt-2">Precio total: @Model.Sum(c => c.PrecioJuego)€</h3>
        </div>

        <div class="container mt-5">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-1 g-2">
                @foreach (Juego juego in Model)
                {
                    <div class="col">
                        <div class="card shadow-sm" style="border-radius: 35px; margin-bottom:1rem;">
                            <div class="d-flex justify-content-between align-items-center card-body">
                                <img src="~/images/@juego.ImagenJuego" style="width: 9%;margin-left: 30px;">
                                <div>
                                <h4 class="card-title" style="font-weight: bold;">@juego.NombreJuego</h4>
                                </div>
                                <div class="ml-auto">
                                <p style="font-weight: bold;">@juego.PrecioJuego €</p>
                                </div>
                                <div style="margin-right: 25px">
                                    <a asp-controller="Juegos" asp-action="EliminarJuegoCesta" asp-route-idJuego="@juego.IdJuego" class="btn btn-danger">
                                        <span class="material-symbols-outlined">Eliminar</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

        <a asp-controller="Juegos" asp-action="RealizarCompra"
           class="btn btn-success w-100 mt-3">
            Realizar compra
        </a>
    }
