@model List<Juego>

@{
    ViewData["Title"] = "Juegos";
    int numeroRegistros = (int)ViewData["REGISTROS"];
    int posicion = (int)ViewData["POSICION"];
    var generos = ViewData["GENEROS"] as List<Genero>;
    int numeroPagina = 1;
    List<Juego> favoritos = memoryCache.Get<List<Juego>>("FAVORITOS");
    string urlImages = configuration.GetValue<string>("AzureKeys:StorageImages");
}

<div class="container mt-5 mb-5">
    @using (Html.BeginForm("Games", "Juegos", FormMethod.Get))
    {
        <label for="precio"><i class="bi bi-filter"></i></label>
        <select name="precio" id="precio">
            <option value="asc">Precio Ascendente</option>
            <option value="desc">Precio Descendiente</option>
        </select>
        <button type="submit" value="search">Filtrar</button>
    }
    
    <hr />
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-5">
        @foreach (Juego game in Model)
        {
            <div class="col">
                <div class="card shadow-sm m-auto">
                    <img src="@urlImages/@game.ImagenJuego">
                    <div class="card-body">
                        <h5 class="card-title">@game.NombreJuego</h5>
                        <p class="card-text">@game.PrecioJuego €</p>
                        <div class="d-flex justify-content-between align-items-center">
                            @Html.ActionLink("Detalles", "Details", "Juegos", new { IdJuego = game.IdJuego }, new { @class = "btn btn-dark" })
                            <form method="post" asp-action="AñadirAlCarritoDesdeLista">
                                <input type="hidden" name="idJuego" value="@game.IdJuego" />
                                <button type="submit" class="btn btn-dark" id="comprarButton">Comprar</button>
                            </form>
                            @if (favoritos == null)
                            {
                                <a asp-action="Games" asp-controller="Juegos" asp-route-idfavorito="@game.IdJuego" class="btn btn-dark favorite-button" data-id="@game.IdJuego">
                                    <i class="bi bi-heart"></i>
                                </a>
                            }
                            else
                            {
                                if (favoritos.Count(juegoRow => juegoRow.IdJuego == game.IdJuego) >= 1)
                                {
                                    <span class="btn btn-dark"><i class="bi bi-heart-fill"></i></span>
                                }
                                else
                                {
                                    <a asp-action="Games" asp-controller="Juegos" asp-route-idfavorito="@game.IdJuego" class="btn btn-dark favorite-button" data-id="@game.IdJuego">
                                        <i class="bi bi-heart"></i>
                                    </a>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div id="paginacion">
        @if (ViewData["PRECIO"] == null)
        {
            <hr />
            <ul class="list-group list-group-horizontal">
                @{
                    for (int i = 1; i <= numeroRegistros; i += 4)
                    {
                        <a asp-controller="Juegos" asp-action="Games" asp-route-posicion="@i" asp-route-precio="@ViewData["PRECIO"]" style="text-decoration: none">
                        <li class="@(i == posicion ? "list-group-item active-pagination" : "list-group-item")" style="@(i == posicion ? " " : " background-color: rgba(34,193,195,1)")">
                                @numeroPagina
                            </li>
                        </a>
                        numeroPagina++;
                    }
                }
            </ul>
        }
    </div>
</div>

