@model List<DetallePedidoView>

@{
    string urlImages = configuration.GetValue<string>("AzureKeys:StorageImages");
}

@if (Model == null || Model.Count == 0)
{
    <h2 class="text-danger" style="text-align: center;">No hay pedidos realizados</h2>
}
else
{
    <h1>Pedidos realizados</h1>

    <div class="container mt-5">
        @foreach (var pedido in Model.GroupBy(p => p.IdPedido))
        {
            <div class="row mb-4">
                <div class="col-6" style="background-color: rgba(34,193,195,1)">
                    <h3>Pedido @pedido.Key</h3>
                </div>
                <div>
                    
                </div>
            </div>
            <table class="table table-bordered text-center">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Cantidad</th>
                        <th>Precio</th>
                        <th>Total Pedido</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var detallePedido in pedido)
                    {
                        <tr>
                            <td>@detallePedido.NombreJuego</td>
                            <td>@detallePedido.Cantidad</td>
                            <td>@detallePedido.PrecioUnitario €</td>
                            <td>@detallePedido.TotalPedido €</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
}
